header {
  margin: 0 auto;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 43px;
  font-weight: bold
}

/* Found this CSS from stackoverflow, to blur my background image without blurring my text */
body:before {
    content: "";
    position: absolute;
    background: url(https://scontent-lga1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1918773_132165590372_963415_n.jpg?oh=d78b0f70fa0814f9236ebdb135e15369&oe=560FBE57);
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 20%; width: 20%;
    transform: scale(5);
    transform-origin: top left;
    -webkit-filter: blur(.5px);
}

.container{
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.5);
  display:none;
}

button{
  background-color:
  text-align: center;
}

#history{
  color:;
  text-align: center;
  padding: 0 200px 0 200px;
}



Button {
	background-color:#7892c2;
	border-radius: 10px;
	border:1px solid #4e6096;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding: 1px 20px;
	text-shadow:0px 1px 0px #283966;
}

Button:hover {
	background-color:#476e9e;
}

Button:active {
	position:relative;
	top:1px;
}
